.about-page {
  min-height: 120vh;
 
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
}

.about-container {
  max-width: 1200px;
  margin-top: 40px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 80px;
}

.about-illustration {
  flex: 1;
}

.about-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 20px;
}

.about-content {
  flex: 2;
  text-align: right;
  margin-left: auto;
}

.about-section {
  margin-bottom: 30px;
}

.section-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

 
.section-text {
  font-size: 16px;
  color: #F1A132;
  line-height: 1.8;
}

