.page-container {
  min-height: 120vh;
}
.category-card {
  background: linear-gradient(to bottom right, #F1A13233, #451a03);
  border-radius: 24px;
  padding: 16px;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  width: 100%;
  z-index:1000;

}


.category-card:hover {
  background: linear-gradient(to bottom right, #e78f15, #38260c);
  transform: scale(1.05);
}
  
.card-image {
  margin-bottom: 24px;
  height: 150px;

  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 16px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  opacity: 0.8;
}
 
.card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
 
.resource-card {
  background: linear-gradient(to bottom right, #78350f, #451a03);
  border-radius: 24px;
  padding: 48px;
  transition: all 0.3s ease;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 256px;
}

.resource-card:hover {
  background: linear-gradient(to bottom right, #92400e, #78350f);
}

 
button {
  font-family: inherit;
}

button:focus {
  outline: 2px solid #ca8a04;
  outline-offset: 2px;
}