
.home-page {
  min-height: 100vh;
  
  padding: 80px 40px;
  position: relative;
  overflow: hidden;
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 300px;

}

.home-illustration {
  flex: 2;
 
}

.car-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 20px;
}

.home-content {
  flex: 2;
  text-align: right;
}

.home-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.3;
}

.brand-name {
  display: block;
  color: #fff;
  font-size: 56px;
}

.home-description {
  font-size: 18px;
  color: #F1A132;
  margin-bottom: 40px;
  line-height: 1.6;
}

.home-actions {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
}

.btn-start {
  background-color:  #FFA500;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-start:hover {
  background-color: #ffa500;
  transform: translateY(-2px);
}

.btn-learn {
  background-color: #78350f;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-learn:hover {
  background-color:  #ffa500;
}

