 .navbar {
  display: flex;
  width: 100%;           
  max-width: 1200px;     
  margin: 0 auto;       
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
   
 }

 
.nav-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-container {
  width: 64px;
  height: 64px;
  margin-top: 70px; 
}

.logo-svg {
  width: 100%;
  height: 100%;
}


 
/* Center section - Menu */
 .nav-menu {
  display: flex;
  gap: 8px;                
  background-color: #F1A13233;
  border-radius: 9999px;
  padding: 6px;
  height: 60px;
  flex-wrap: wrap;         
  justify-content: center;  
        margin-top: 70px; 
  box-sizing: border-box;  
}

.nav-btn {
  padding: 10px 20px;     
  border-radius: 9999px;
  border: none;
  background-color: transparent;
    cursor: pointer;

   z-index: 1000;
  
}

 
 .nav-btn p {
   
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;    }
   
.nav-btn:hover  {
    
   color: #F1A132;
}

.nav-btn.active {
  background-color: #b45309;
  color: #ffffff;
}
 .profile-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 9999px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;   
  z-index: 10;  
  margin-top: 70px;      
}


.profile-avatar {
  width: 40px;
  height: 40px;
  background-color: #b45309;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

 
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
  
  .navbar {
    padding: 16px;
  }

   .profile-btn {
    padding: 4px 5px;
  }
}
 